@keyframes bgcolor {
    0% {
        background-color: #45A3E5
    }
    30% {
        background-color: #66BF39
    }
    60% {
        background-color: #EB670F
    }
    90% {
        background-color: #f35
    }
    100% {
        background-color: #864CBF
    }
}
body {
    -webkit-animation: bgcolor 30s infinite;
    animation: bgcolor 20s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    margin: 20px auto;
    font-family: "Lato";
    font-weight: 300;
    background: blue; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 3rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group input {
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  margin: 10px 0;
}

.submitButton {
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 50%;
  background-color: rgb(51, 182, 22);
}

.submitButton:hover {
  background-color: rgb(0, 128, 0);
}

.signupSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guestButton {
  margin-top: 1rem;
  width: 60px;
  height: 60px;
  color: white;
  border: none;
  border-radius: 50%;
  background-color: rgb(51, 182, 22);
}

.guestButton:hover {
  background-color: rgb(0, 128, 0);
}
