@keyframes bgcolor {
  0% {
    background-color: #45A3E5
  }
  30% {
    background-color: #66BF39
  }
  60% {
    background-color: #EB670F
  }
  90% {
    background-color: #f35
  }
  100% {
    background-color: #864CBF
  }
}

body {
  -webkit-animation: bgcolor 30s infinite;
  animation: bgcolor 20s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  font-family: "Lato";
  font-weight: 300;
  background: blue;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.title {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  /* flex: 1 1 auto; */
}

.login-section {
  text-align: center;
  background-color: rgb(237, 237, 237);
  padding: 2rem 5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  justify-self: center;
}

.login-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 3rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group input {
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  margin: 10px 0;
}

.submitButton {
  width: 170px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(51, 182, 22);
}

.submitButton:hover {
  background-color: rgb(0, 128, 0);
}

.signupSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guestButton {
  margin-top: 1rem;
  width: 60px;
  height: 60px;
  color: white;
  border: none;
  border-radius: 50%;
  background-color: rgb(51, 182, 22);
}

.guestButton:hover {
  background-color: rgb(0, 128, 0);
}
